<!DOCTYPE html>
<html>
<head>
	<title>Student Search By Campus</title>
</head>
<body>
<p>Enter the campus code to get a list of students.</p>
<p>NYC: New York City</p>
<p>SF: San Francisco</p>
<p>CHI: Chicago</p>
<p>SEA: Seattle</p>
<p>SD: San Diego</p>

<form action="/results" method="GET">
	<input type="text" name="campus_search" placeholder="Campus code">
	<button type="submit">Show students</button>
</form>
</body>
</html>